body{
    background-color: lightblue;
}

#myHeader{

    background-color: red;
    color: black;
    padding: 40px;
    text-align: center;

}

.city{
background-color: tomato;
color: white;
padding: 10px;

}
